---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-state-metrics
  namespace: kube-system
spec:
  template:
    spec:
      containers:
        - name: kube-state-metrics
          resources:
            cpu: 120m
            memory: 614Mi
